In [1]:
import os
import csv
import pandas as pd

In [2]:
# Set path for file
file01= "schools_complete.csv"
file02="students_complete.csv"

In [3]:
schools=pd.read_csv(file01, encoding="utf-8")
students=pd.read_csv(file02, encoding="utf-8")

In [ ]:
schools

In [ ]:
students.head()

In [4]:
renamed_schools = schools.rename(columns={"name":"school name"})
renamed_students = students.rename(columns={"name":"student name", "school":"school name"})
renamed_schools.head()
renamed_students.head()
merged= pd.merge(renamed_schools, renamed_students, on="school name")
merged.head()

,School ID,school name,type,size,budget,Student ID,student name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [7]:
merged_district=merged.loc[merged["type"] == "District", :]
merged_district.head()

# Total budget
merged_district["Total_budget"] = merged_district["budget"].unique().sum()
total_budget=merged_district["budget"].unique().sum()

# Total number of schools 
merged_district["Total_number_of_schools"] = len(merged_district["school name"].unique())

# Total number of students
merged_district["Total_number_of_students"]= len(merged_district["student name"])
total_students=len(merged_district["student name"])

#budget per student
merged_district["budget per student"] = total_budget / total_students

# average math and reading score
merged_district["average_math_score"] =merged_district["math_score"].mean()
merged_district["average_reading_score"] =merged_district["reading_score"].mean()
merged_district=merged_district.drop(columns=["gender", "grade","School ID","Student ID"])
merged_district.head()

# percent of passing math
number_of_math_passing_student= merged_district[merged_district["math_score"] > 70].count()["school name"]
number_of_math_passing_student
merged_district["math_passing_%"]= (number_of_math_passing_student / total_students) * 100
math_passing_percent= (number_of_math_passing_student / total_students) * 100


# percent of passing reading
number_of_reading_passing_student= merged_district[merged_district["reading_score"] > 70].count()["school name"]
number_of_reading_passing_student
merged_district["reading_passing_%"]= (number_of_reading_passing_student/total_students) * 100
reading_passing_percent= (number_of_reading_passing_student/total_students) * 100


# Overall Passing Rate (Average of the above two)
overall_passing_rate= (math_passing_percent + reading_passing_percent) /2
merged_district["Overall_passing_%"] =overall_passing_rate


district_data= merged_district.loc[0,["type","Total_budget","budget per student","Total_number_of_schools","Total_number_of_students",
                                     "average_math_score","average_reading_score","math_passing_%","reading_passing_%",
                                     "Overall_passing_%"]]
                                   
# district 
district_data= pd.DataFrame(district_data) 
district_data

/Users/tarekmagdyshehatamohamed/miniconda3/envs/bioinfo/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/tarekmagdyshehatamohamed/miniconda3/envs/bioinfo/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/tarekmagdyshehatamohamed/miniconda3/envs/bioinfo/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/tarekmagdyshehatamohamed/miniconda3/envs/bioinfo/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/tarekmagdyshehatamohamed/miniconda3/envs/bioinfo/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tarekmagdyshehatamohamed/miniconda3/envs/bioinfo/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                 0
type                      District
Total_budget              17347923
budget per student         643.087
Total_number_of_schools          7
Total_number_of_students     26976
average_math_score          76.987
average_reading_score      80.9625
math_passing_%             64.3053
reading_passing_%          78.3697
Overall_passing_%          71.3375

In [15]:
merged.head()
grp = merged.groupby(['school name'])
grp.head(2)

,School ID,school name,type,size,budget,Student ID,student name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2917,1,Figueroa High School,District,2949,1884411,2917,Amy Jacobs,F,10th,85,87
2918,1,Figueroa High School,District,2949,1884411,2918,Nathan Campbell,M,12th,97,84
5866,2,Shelton High School,Charter,1761,1056600,5866,Jamie Montgomery,F,12th,70,91
5867,2,Shelton High School,Charter,1761,1056600,5867,Shannon Phillips,F,10th,84,71
7627,3,Hernandez High School,District,4635,3022020,7627,Russell Davis,M,10th,70,88
7628,3,Hernandez High School,District,4635,3022020,7628,Timothy Walker,M,12th,97,93
12262,4,Griffin High School,Charter,1468,917500,12262,Heather Wright,F,11th,79,68
12263,4,Griffin High School,Charter,1468,917500,12263,Elizabeth Goodwin,F,10th,91,81
13730,5,Wilson High School,Charter,2283,1319574,13730,Kelli Anderson,F,10th,84,71
13731,5,Wilson High School,Charter,2283,1319574,13731,Russell Ramirez,M,10th,72,87
16013,6,Cabrera High School,Charter,1858,1081356,16013,Olivia Short,F,11th,94,94
16014,6,Cabrera High School,Charter,1858,1081356,16014,Kerry Jones,F,9th,98,97
17871,7,Bailey High School,District,4976,3124928,17871,Blake Martin,M,9th,75,59
17872,7,Bailey High School,District,4976,3124928,17872,Kathryn Kane,F,12th,84,58
22847,8,Holden High School,Charter,427,248087,22847,Daniel Rodriguez,M,11th,86,92
22848,8,Holden High School,Charter,427,248087,22848,Bryan Perkins,M,9th,91,81
23274,9,Pena High School,Charter,962,585858,23274,Alec Davis,M,9th,91,75
23275,9,Pena High School,Charter,962,585858,23275,Michael Meyer,M,10th,94,76
24236,10,Wright High School,Charter,1800,1049400,24236,Aaron Johnson,M,10th,89,72
24237,10,Wright High School,Charter,1800,1049400,24237,Kimberly Hamilton,F,10th,84,93
26036,11,Rodriguez High School,District,3999,2547363,26036,Sherry Jenkins,F,11th,74,81
26037,11,Rodriguez High School,District,3999,2547363,26037,Kimberly Calderon,F,10th,80,86
30035,12,Johnson High School,District,4761,3094650,30035,Lisa Casey,F,12th,87,87
30036,12,Johnson High School,District,4761,3094650,30036,Jessica Lopez,F,9th,98,62
34796,13,Ford High School,District,2739,1763916,34796,Michael Mercado,M,9th,66,94
34797,13,Ford High School,District,2739,1763916,34797,Stephen Wolf,M,11th,68,63
37535,14,Thomas High School,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76
37536,14,Thomas High School,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82

In [17]:
grp = merged.groupby(['school name'])
budget=grp["budget"].unique()
num_students=grp["size"].unique()
budget_per_student= budget / num_students
school_type=grp["type"].unique()
reading_score=grp["reading_score"].mean()
math_score=grp["math_score"].mean()
passing_reading_score=grp["reading_score"] >= 70

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'

In [14]:
school_data=pd.DataFrame({"Total budget" :budget,"number of student":num_students, 
                          "budget per student" : budget_per_student,
                          "type of school":school_type, "average reading score": reading_score,
                          "average math score":math_score} )
school_data = school_data[["type of school","Total budget","number of student","budget per student",
                           "average reading score","average math score" ]]
school_data

,type of school,Total budget,number of student,budget per student,average reading score,average math score
school name,,,,,,
Bailey High School,[District],[3124928],[4976],[628.0],81.033963,77.048432
Cabrera High School,[Charter],[1081356],[1858],[582.0],83.975780,83.061895
Figueroa High School,[District],[1884411],[2949],[639.0],81.158020,76.711767
Ford High School,[District],[1763916],[2739],[644.0],80.746258,77.102592
Griffin High School,[Charter],[917500],[1468],[625.0],83.816757,83.351499
Hernandez High School,[District],[3022020],[4635],[652.0],80.934412,77.289752
Holden High School,[Charter],[248087],[427],[581.0],83.814988,83.803279
Huang High School,[District],[1910635],[2917],[655.0],81.182722,76.629414
Johnson High School,[District],[3094650],[4761],[650.0],80.966394,77.072464
Pena High School,[Charter],[585858],[962],[609.0],84.044699,83.839917
Rodriguez High School,[District],[2547363],[3999],[637.0],80.744686,76.842711
Shelton High School,[Charter],[1056600],[1761],[600.0],83.725724,83.359455
Thomas High School,[Charter],[1043130],[1635],[638.0],83.848930,83.418349
Wilson High School,[Charter],[1319574],[2283],[578.0],83.989488,83.274201
Wright High School,[Charter],[1049400],[1800],[583.0],83.955000,83.682222

In [ ]:
merged_school.columns